.section {
    @apply container w-11/12 m-auto grid grid-cols-1 lg:grid-cols-12 gap-2
}
.aboutleft{
    @apply col-span-7 pt-12
}
.aboutright{
    @apply col-span-5
}
.etkinliklist{
    @apply grid grid-cols-1 md:grid-cols-2
}
.span{
    @apply grid grid-cols-4 gap-8 mt-10
}
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.iconspan {
    background: #fd5f00;
    @apply rounded-full flex items-center justify-center;
    width: 80px !important;
    height: 80px;
}
