.hero{
    background: url("/image/bg_1.jpg");
    z-index: 1;
    @apply w-full bg-cover bg-no-repeat bg-center h-80 text-white relative
}
.herocontent{
    @apply w-11/12 m-auto h-80 flex flex-col justify-center items-center
}
.overlay{
    content: '';
    background: #f1453d;
    z-index: -1;
    @apply absolute top-0 left-0 right-0 bottom-0 opacity-30
}
.breadcrumbs{
    @apply w-full flex justify-center items-center uppercase space-x-2
}
